<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>English Game - Home Page</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">
    <script src="/static/updateLeaderboard.js"></script>
</head>

<body>
    <header>
        <div class="header-content">
            <h1 class="fade-in">Welcome to the English Game</h1>
        </div>
    </header>

    <div class="container">
        <section class="rule-section fade-in">
            <h2>Important Rule</h2>
            <div class="rule-content">
                <p><strong>There is one fake English word and two real English words.</strong></p>
                <p><strong>You need to find the fake one as fast as possible.<strong></p>
            </div>
        </section>

        <p class="tagline fade-in">Choose your difficulty and start playing!</p>

        <div class="game-options fade-in">
            <button class="start-button" onclick="location.href='/game/easy'">Easy</button>
            <button class="start-button" onclick="location.href='/game/normal'">Normal</button>
            <button class="start-button" onclick="location.href='/game/hard'">Hard</button>
        </div>

        <h2 class="fade-in">Leaderboard</h2>
        <div id="leaderboard" class="fade-in"></div>
    </div>

    <div class="view-leaderboard fade-in">
        <a href="/leaderboard" class="view-button">View Full Leaderboard</a>
    </div>

    <footer class="fade-in">
        <div class="footer-content">
            <div class="score-info">
                <p>Rank Calculation: (Difficulty * Score) / Log(Duration)</p>
                <p>Difficulty Multipliers: Hard = 1.5, Normal = 1, Easy = 0.5</p>
            </div>
            <div class="contact-info">
                <p>Created by Baptiste JULLIEN</p>
                <p>If you have a problem or if you found a bug, you can open an issue on GitHub:</p>
                <a href="https://github.com/BaptTF/English-Project" target="_blank"
                    rel="noopener noreferrer">English-Project on GitHub</a>
            </div>
        </div>
    </footer>
</body>

</html>