<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/leaderboard.css') }}">
    <script src="/static/updateLeaderboardFull.js"></script>
</head>

<body>
    <h2 class="fade-in">Leaderboard</h2>
    <div id="leaderboard" class="fade-in"></div>
    <div class="go-back-container fade-in">
        <a href="/" class="go-back-button">Go Back</a>
    </div>
</body>

</html>